*{
    margin: 0;
 
}


.contenedor{
    
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 20vh;
    grid-template-areas:  
      "a a a a a a a a"
      "b b b b b b b b"
      "c c c c c c c c"
      "d d d d d d d d"
      "e e e e e e e e"
      "f f f f f f f f";
}

.a{
    height: 100%;
     grid-area: a;
     border: 2px solid hotpink;
    

}

.b{
    grid-area: b ;
    border: 2px solid rgb(75, 248, 133);

}

.c{
    grid-area: c;
    border: 2px solid rgb(248, 17, 17);

}

.d{
    grid-area: d;
    border: 2px solid rgb(248, 17, 17);

}

.e{
    grid-area: e;
    border: 2px solid rgb(255, 64, 245);

}

.f{
    grid-area: f;
    
    background-color: rgb(9, 9, 27);

}