*{
    background:  rgb(4, 12, 121);
    margin: 0;
    height: 100%;
    text-align: center;
}


.contenedor{
    
    display: grid;
    height: 100%;
    grid-template-rows: 100% 100% 100% 100% 50%;
    grid-template-areas:  
      "header header header"
      "article article article"
      "section  section section"
      "section section section"
      "footer footer footer";
}

header{
     grid-area: header;
     border: 2px solid hotpink;
    

}

article{
    grid-area: article;
    border: 2px solid rgb(75, 248, 133);

}

section{
    grid-area: section;
    border: 2px solid rgb(248, 17, 17);

}

section{
    grid-area: section;
    border: 2px solid rgb(255, 64, 245);

}

footer{
    grid-area: footer;
    border: 2px solid rgb(192, 209, 36);

}