<div class="header">
    <span>
      <a href="#">logo</a>
    </span>
    <div class="nav">
        <ul class="ul-uno">inicio</ul>
        <ul class="ul-dos">sobre mi</ul>
        <ul class="ul-tres">habilidades</ul>
        <ul class="ul-cuatro">proyectos</ul>
    </div>
</div>