<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("partes/head") %>
</head>
<body>
  <div class="contenedor">
    <div class="a">
      <%- include("partes/menu") %>
    </div>
     <div class="b">
         <h1>VA A IR SOBRE MI</h1>
     </div>
     <div class="c">
         <h1>VA A IR LAS HABILIDADES</h1>
     </div>
     <div class="d">
         <h1>VA A IR LOS FORMULARIO DE CONTACTO</h1>
     </div>
     <div class="e">
         <h1>VA A IR LOS PROYECTOS</h1>
     </div>

     <div class="f">
        <h1>VA A IR EL PIE DE PAGINA</h1>
    </div>
  </div>
</body>
</html>