<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("partes/head") %>
</head>
<body>
    <header>
       <h1>VA A IR EL MENU</h1>
    </header>
    <article>
        <h1>VA A IR SOBRE MI</h1>
    </article>
    <section>
        <h1>VA A IR LAS HABILIDADES</h1>
    </section>
    <section>
        <h1>VA A IR LOS FORMULARIO DE CONTACTO</h1>
    </section>
    <footer>
        <h1>VA A IR EL PIE DE PAGINA</h1>
    </footer>
</body>
</html>